<div class="card">
  <div class="age-sex">
    <span class="age">32歳</span>
    <span class="sex">男性</span>
  </div>
  <div class="name">ケイマエ
    <i class="fas fa-camera"></i>
  </div>
  <div class="disease">クローン病</div>
  <div class="history">病歴: 3年</div>
  <div class="status">現在: 寛解
    <i class="far fa-smile-wink"></i> <%#<i class="far fa-sad-tear"></i>%>
  </div>
  <div class="sns">SNS:https://twitter.com/KeiMaeLabo</div>
  <div class="word">ひとこと: 健康第一！</div>
</div>
