<div class="card">
  <div class="image-age-sex">
    <%= image_tag 'byebye_boy.png', size: '55x55', class: "image" %>
    <div class="age-sex">
      <div class="age">32歳</div>
      <div class="sex">男性</div>
    </div>
  </div>
  <div class="name">ケイマエ</div>
  <span class="disease">クローン病</span>
  <span class="history">病歴: 3年</span>
  <div class="status">現在: 寛解
    <i class="far fa-smile-wink"></i> <%#<i class="far fa-sad-tear"></i>%>
  </div>
  <div class="sns">SNS:https://twitter.com/KeiMaeLabo</div>
  <div class="word">ひとこと: 健康第一！</div>
</div>
