<%= render partial: "layouts/header" %>
<section class="section">
  <div class="cards-list">
    <% @users.each do |user| %>
      <%= render partial: "user", locals: { user: user } %>
    <% end %>
  </div>
</section>
<%= render partial: "layouts/footer" %>
