.whole {
  
  .form {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: #FFDBC9;
    padding: 30px 60px;
    
    .subject {
      font-weight: bold;
      color: #FF5192;
      font-size: 30px;
      text-align: center;
      margin-bottom: 30px;
    }

    #error_explanation {
      color: #FF5192;
      margin-bottom: 30px;
      font-style: italic;
    }
    
    .field {
      margin-bottom: 20px;
      color: #FF5192;
      font-weight: bold;

      #user_sex, #user_disease, #user_status {
        height: 30px;
      }
      
      #user_image {
        display: none;
      }
      .fas {
        font-size: 25px;
        margin: 40px 20px 40px 40px;
        cursor: pointer;
      }

      .preview-image {
        border-radius: 50%;
      }
    }
    .field-age {
      margin-bottom: 20px;
      color: #FF5192;
      font-weight: bold;
      display: flex;

      .field-age1 {
        margin-right: 30px;
      }
      .field-age2 {
      }
    }
    
    .actions {
      text-align: center;

      .sign-btn {
        margin: 30px;
        width: 120px;
        padding: 8px 10px;
        color: #FF5192;
        font-weight: bold;
        border: 2px solid #FF5192;
        border-radius: 3px;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}