<footer class="footer">
  <div class="keimaelabo">
    <%= image_tag 'KeiMaeLabo-logo-2.png', size:'70x40' %>
  </div>
  <p class="copyright">Copyright © 2020-2020 KeiMaeLabo All Rights Reserved.</p>
</footer>